<h1 class="{{consonant_class}}">{{thai_consonant}}</h1>
<p>
<div class="thai-name">{{thai_name}}</div>
<div>/{{transcription_aua}}/ <span class="consonant_class {{consonant_class}}"></span></div>
</p>
{{data_image}}
<p>
    {{translation}}
</p>
