.card {
    font-family: arial, serif;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

h1 {
    font-size: 40px;
}

h1.front {
    font-size: 80px;
}

.low_class {
    background-color: lightblue;
}

.mid_class {
    background-color: palegreen;
}

.high_class {
    background-color: #f08080;
}

span.consonant_class {
    display: inline-block;
    color: #555;
    padding: 3px 5px;
    margin: 2px 2px 2px 10px;
    border-radius: 6px;
}

span.consonant_class.low_class::after {
    content: "low class";
}

span.consonant_class.mid_class::after {
    content: "middle class";
}

span.consonant_class.high_class::after {
    content: "high class";
}


img {
    width: 60%;
}

.thai-name {
    font-weight:400
}
